*{
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
    
}
body{
    font-size: 48px;
}
.header{
   background: #7370FD;
   padding: 20px;
   text-align: center;
   color: white;
   
}
.container{
    display: flex;
    height: 700px;
}
.left-col{
    width: 40%;
}
.right-col{
    width: 60%;
}
.green{
    background: #7BFF98;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.yellow{
    background: #DDFF7B;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.blue{
    height: 70%;
    background: #2079FF;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.red{
    height: 30%;
    background: #FF202D;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.down{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    height: 300px;
    
}
.img{
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img-1{
    background: #66B9AA;
}
.img-2{
    background: #43AD9A;
}
.img-3{
    background: #37A18E;
}
.img-4{
    background: #28907E;
}
.footer{
    padding: 15px;
    color: white;
    background: #505050;
    text-align: center;
}

@media screen and (max-width:676px){
    .header{
        font-size: 24px;
    }
    .container{
       display: block;
        width: 100%;
    }
    .left-col{
        width: 100%;
        display: flex;
        height: 200px;
        font-size: 24px;
    }
    .right-col{
        width: 100%;
        height: 500px;
        display: block;
    }
    .green{
        width: 50%;
        height: 100%;
    }
    .yellow{
        width: 50%;
        height: 100%;
    }
    .blue{ 
        font-size: 24px;
    }
    .red{
       font-size: 24px;
    }
    .down{
        grid-template-columns: repeat(2,1fr);
    }
    .img{
        width: 100%;
        padding: 0;
        font-size: 24px;
    }
    .footer{
        font-size: 24px;
    }
}